<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <title>@ViewData["Title"] - Jordan Bottrell</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="main">
        <div class="left-half">
            <div class="info">
                <h1 id="title">Jordan Bottrell</h1>
                <h3 id="subtitle">Data Engineer at Meijer</h3>
                <h5 id="description">I build reliable, scalable software solutions utilizing cloud native technologies.
                </h5>


                <div class="nav">
                    <ul>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#blog">Blog</a></li>
                    </ul>
                </div>
                <div class="socials">
                    <div id="socials-list">
                        @* target="_blank allows for links to open in a new tab" *@
                        <p class="social-link">
                            <a href="https://github.com/bottrell" target="_blank" class="icon bi-github"></a>
                        </p>
                        <p class="social-link">
                            <a href="https://linkedin.com/in/jordanbottrell" target="_blank"
                                class="icon bi-linkedin"></a>
                        </p>
                        <p class="social-link">
                            <a href="https://twitter.com/jordanbottrell" target="_blank" class="icon bi-twitter"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-half">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Jordan Bottrell - <a href="https://github.com/bottrell">View the codebase here</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
