<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalWebsite</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalWebsite.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="left-half">
            <div class="intro">
                <h1>Jordan Bottrell</h1>
                <h3>Data Engineer at Meijer</h3>
                <h5>I build reliable, scalable software solutions utilizing cloud native technologies.</h5>
            </div>

            <div class="nav">
                <ul>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </div>
            <div class="socials">
                <ul id="socials-list">
                    @* target="_blank allows for links to open in a new tab" *@
                    <li class="social-link">
                        <a href="https://github.com/bottrell" target="_blank">github</a>
                    </li>
                    <li class="social-link"><a href="https://linkedin.com/in/jordanbottrell"
                            target="_blank">linkedin</a>
                    </li>
                    <li class="social-link">
                        <a href="https://twitter.com/jordanbottrell" target="_blank">twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-half">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Jordan Bottrell - <a href="https://github.com/bottrell">View the codebase here</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
