.about-me-section {
    text-align: left;
    padding-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.about-me-text {
    width: 70%;
}