<div class="about-me-section">
    <div class="about-me-text">
        <p>
            I started my journey in technology in 2012 when I built my first gaming computer. Ever since, I’ve been
            fascinated
            by the way that hardware and software can come together to bring digital experiences to life. Fast forward
            to
            today, and I’ve had the privilege to work at several great organizations working roles from <strong>Desktop
                Support</strong>, to
            <strong>Cloud Engineering</strong>, to <strong>Site Reliability Engineering</strong>, and beyond.
        </p>
        <p>
            I’m currently working as a Data Engineer at <strong>Meijer</strong> - one of the largest private grocery
            stores
            in the country.
            Here
            I’m focused on building reliable data pipelines and API integrations to bring our <strong>Retail Media
                Network</strong> and marketing platforms to the next level.
        </p>
        <p>
            When I’m not at the computer, you can find me picking up heavy things, exploring the beauty of <strong>West
                Michigan</strong>,
            and working to become 1% better every day.
        </p>
    </div>
</div>