/* _content/PersonalWebsite/Pages/Partials/_Aboutme.cshtml.rz.scp.css */
.about-me[b-dxdiwhdqiv] {
    width: 60%;
    text-align: left;
}
/* _content/PersonalWebsite/Pages/Partials/_Experienceitem.cshtml.rz.scp.css */
.experience-container[b-1amq56738s] {
    display: flex;
    width: 100%;
}

.experience-date[b-1amq56738s] {
    padding: 10px;
}

.experience-content[b-1amq56738s] {
    padding: 10px;
}
/* _content/PersonalWebsite/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer[b-cptkvv37s0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.main[b-cptkvv37s0] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #0E0F27;
  width: 100vw;
  height: 100vh;
}

.left-half[b-cptkvv37s0] {
  background-color: red;
  width: 40%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-half[b-cptkvv37s0] {
  background-color: purple;
  width: 40%;
  text-align: center;
}

#socials-list[b-cptkvv37s0] {
  list-style: none;
  display: flex;
}

.nav[b-cptkvv37s0] {
  display: flex;
  background-color: green;
  width: 50%;
}

.intro[b-cptkvv37s0] {
  background-color: orange;
  width: 50%;
}

.socials[b-cptkvv37s0] {
  background-color: pink;
  width: 50%;
  align-items: start;
}

.social-link[b-cptkvv37s0] {
  margin: 10px;
}
