html {
  font-size: 14px;
  color: #979797;
}

h1 {
  color: #FFFF;
}

strong {
  color: #FFFF;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-width: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}