html {
  font-size: 14px;
  color: #979797;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #FFFF;
}

strong {
  color: #FFFF;
}

body {
  background-color: #0E0F27;
  height: 100vh;
}