@page

@model BlogViewModel
@using PersonalWebsite.Utilities

@{
    ViewData["Title"] = "Blog";
    Layout = "_Layout";
}

<div id="blog-container">
    <div id="inner-container">
        <h2> All Blog Posts </h2>
        @{
            foreach (Post post in Model.posts!)
            {
                <a class="post-link" href=@($"/posts/{@post.PostId}")>
                    <div class="post-preview">
                        <div class="post-content">
                            <h2 class="preview-title">@post.Title</h2>
                            <p>asdfasdfasf</p>
                        </div>
                    </div>

                </a>

            }
        }
    </div>
</div>