@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    @using PersonalWebsite.Pages.Partials;
    ExperienceItemModel asdf = new ExperienceItemModel();
    List<ExperienceItemModel> positions = new List<ExperienceItemModel> {
new ExperienceItemModel(),
new ExperienceItemModel(),
};
}

<div>
    @{
        foreach (ExperienceItemModel position in positions)
        {
            <partial name="_Experienceitem" model=@position />
        }
    }

</div>
