@page "/posts/{id:int}"
@model PostViewModel
@using Markdig
@using Microsoft.AspNetCore.Components

@{
    var result = Markdown.ToHtml(await @Model.GetPostContent(@Model.Id), new
    MarkdownPipelineBuilder().UseAdvancedExtensions().Build());
}
<div>
    <h1>Post: @Model.Id</h1>

    @Html.Raw(result)

</div>