@page "/posts/{id:int}"
@model PostViewModel
@using Markdig
@using Microsoft.AspNetCore.Components

@{
    string postContent = "asdf";
    postContent = Markdown.ToHtml(@Model.blogPost.Content, new
    MarkdownPipelineBuilder().UseAdvancedExtensions().Build());
}
<div>
    <h1>Title: @Model.blogPost.Title</h1>
    <div class="post-content">
        @Html.Raw(postContent)
    </div>
</div>