@page "/posts/{id:int}"
@model PostViewModel
@using Markdig
@using Microsoft.AspNetCore.Components

@{
    string result = "asdf";
    //result = Markdown.ToHtml(await @Model.GetPostContent(@Model.Id), new
    // MarkdownPipelineBuilder().UseAdvancedExtensions().Build());
}
<div>
    <h1>Post: @Model.Id</h1>
    <div class="post-content">
        @Html.Raw(result)
    </div>
</div>