@page "/todo"

<h3>Todo</h3>

<table>
    @foreach (var item in Todos)
    {
        <tr>
        <td> @item.Description</td>
        <td>|</td>
        <td> @item.DueDate</td>
        </tr>
    }
</table>

<input @bind="NewTodo" placeholder="What do you need to do?" />
<input @bind="DueDate" placeholder="Due Date" />
<button @onclick="Save">Save</button>

@code {
    public record TodoItem(string Description, DateTime? DueDate);

    private List<TodoItem> Todos = new List<TodoItem>();

    private string NewTodo = string.Empty;
    private DateTime? DueDate = null;

    private void Save()
    {
        Todos.Add(new(NewTodo, DueDate));
    }

}
